extends ../Layout/index


block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg" alt="Nosotrs img" class="img-fluid")
            .col-md-7             
                h1=pagina
                .text-justify  
                    bloclquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    |Proin ultricies, mauris et molestie ullamcorper, 
                    |neque velit placerat orci, posuere ultrices velit erat a lectus. 
                    |Morbi semper facilisis ante. Suspendisse libero massa, lobortis in nunc eget, finibus consequat mi. Suspendisse libero massa, lobortis in nunc eget, finibus consequat mi, Suspendisse libero massa, lobortis in nunc eget, finibus consequat mi    

                    p Suspendisse libero massa, lobortis in nunc eget, finibus consequat mi. Fusce suscipit lectus quis dolor pharetra, quis feugiat urna porta. Nullam sodales mattis quam. Etiam nec enim elit. Integer ornare ex nec massa congue, non lobortis arcu auctor. Duis quis justo in massa condimentum sodales et eu nisl. Nulla tempus nisl ante, sit amet imperdiet ligula ornare a. Nulla euismod vitae ante eu fringilla. Nullam placerat libero quis lorem finibus auctor. Aenean mattis, erat at pretium consequat, lectus arcu porttitor mi, non consequat massa nulla in orci. Vestibulum facilisis, lorem non eleifend vehicula, quam lorem faucibus urna, eu feugiat lacus diam tincidunt massa. Quisque venenatis aliquam neque, a euismod est venenatis sed.

                    p Maecenas commodo ipsum metus, nec dictum ligula fringilla sed. Sed molestie lorem id ligula tristique elementum. Duis aliquam, tortor eget pharetra vulputate, arcu enim tempus arcu, in commodo leo mauris ac turpis. Morbi efficitur molestie bibendum. Duis sollicitudin tincidunt lorem sit amet bibendum. Aliquam convallis ex ex, nec elementum ante volutpat sit amet. Ut et molestie turpis, in ultricies sapien. Mauris a dapibus nulla. Nulla bibendum a magna et malesuada. Sed sed ullamcorper orci. Sed quis nisl pretium, vehicula erat sed, elementum nulla. Integer sit amet convallis libero, id iaculis mauris.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4  
                    img(src="img/icono_seguridad.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock     
                .col-md-4  
                    img(src="img/icono_destinos.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock                             
                .col-md-4  
                    img(src="img/icono_precios.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock                             